.card-img-fixed-height {
    height: 250px; /* Adjust the height as needed */
  }
  .hero-item {
    max-height: 400px; /* Adjust the height as needed */
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
    